.hll { background-color: #373b41 }
.c { color: #b5bd68 } /* Comment */
.err { color: #cc6666 } /* Error */
.k { color: #81a2be } /* Keyword */
.n { color: #de935f } /* Name */
.p { color: #81a2be } /* Punctuation */
.cm { color: #b5bd68 } /* Comment.Multiline */
.cp { color: #b5bd68; font-style: italic } /* Comment.Preproc */
.c1 { color: #b5bd68 } /* Comment.Single */
.cs { color: #b5bd68; font-style: italic } /* Comment.Special */
.gd { color: #de935f } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #cc6666 } /* Generic.Error */
.gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
.gi { color: #8abeb7 } /* Generic.Inserted */
.go { color: #c5c8c6 } /* Generic.Output */
.gp { color: #b5bd68 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #c5c8c6; font-weight: bold } /* Generic.Subheading */
.gt { color: #c5c8c6 } /* Generic.Traceback */
.kc { color: #81a2be } /* Keyword.Constant */
.kd { color: #81a2be } /* Keyword.Declaration */
.kn { color: #de935f } /* Keyword.Namespace */
.kp { color: #81a2be } /* Keyword.Pseudo */
.kr { color: #81a2be } /* Keyword.Reserved */
.kt { color: #f0c674 } /* Keyword.Type */
.m { color: #cc6666 } /* Literal.Number */
.s { color: #b5bd68 } /* Literal.String */
.na { color: #de935f } /* Name.Attribute */
.nb { color: #de935f } /* Name.Builtin */
.nc { color: #f0c674 } /* Name.Class */
.no { color: #c5c8c6 } /* Name.Constant */
.nd { color: #cc6666 } /* Name.Decorator */
.ni { color: #00aaaa; font-weight: bold } /* Name.Entity */
.ne { color: #de935f } /* Name.Exception */
.nf { color: #8abeb7 } /* Name.Function */
.nl { color: #de935f } /* Name.Label */
.nn { color: #81a2be } /* Name.Namespace */
.nx { color: #de935f } /* Name.Other */
.py { color: #de935f } /* Name.Property */
.nt { color: #b5bd68; font-weight: bold } /* Name.Tag */
.nv { color: #de935f } /* Name.Variable */
.ow { color: #81a2be } /* Operator.Word */
.w { color: #1d1f21 } /* Text.Whitespace */
.mf { color: #cc6666 } /* Literal.Number.Float */
.mh { color: #cc6666 } /* Literal.Number.Hex */
.mi { color: #cc6666 } /* Literal.Number.Integer */
.mo { color: #cc6666 } /* Literal.Number.Oct */
.sb { color: #b5bd68 } /* Literal.String.Backtick */
.sc { color: #b5bd68 } /* Literal.String.Char */
.sd { color: #b5bd68 } /* Literal.String.Doc */
.s2 { color: #b5bd68 } /* Literal.String.Double */
.se { color: #b5bd68 } /* Literal.String.Escape */
.sh { color: #b5bd68 } /* Literal.String.Heredoc */
.si { color: #b5bd68 } /* Literal.String.Interpol */
.sx { color: #b5bd68 } /* Literal.String.Other */
.sr { color: #b5bd68 } /* Literal.String.Regex */
.s1 { color: #b5bd68 } /* Literal.String.Single */
.ss { color: #b5bd68 } /* Literal.String.Symbol */
.bp { color: #de935f } /* Name.Builtin.Pseudo */
.vc { color: #de935f } /* Name.Variable.Class */
.vg { color: #de935f } /* Name.Variable.Global */
.vi { color: #de935f } /* Name.Variable.Instance */
.il { color: #cc6666 } /* Literal.Number.Integer.Long */
