<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>cstrahan - $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax/pygments.css" />
        <!--<link rel="stylesheet" type="text/css" href="/css/syntax.css" />-->

        <!-- RSS. -->
        <!--<link rel="alternate" type="application/rss+xml" title="cstrahan - a personal blog" href="http://cstrahan.com/rss.xml" />-->

        <!-- Metadata. -->
        <meta name="keywords" content="Charles Strahan,blog,programming,coding,haskell,function,personal,homepage"/>
        <meta name="description" content="Personal home page and blog of Charles Strahan."/>
    </head>
    <body>
        <div id ="navigation">
            <h1>B&lambda;og</h1>
            <a href="/">Home</a>
            <a href="/posts.html">Archive</a>
            <a href="/contact.html">Contact</a>
            <h1>Links</h1>
            <a href="http://github.com/cstrahan">GitHub</a>
            <a href="http://twitter.com/charlesstrahan">Twitter</a>
            <a href="https://www.linkedin.com/in/charlesstrahan/" target="_blank">LinkedIn</a>
        </div>

        $body$

        <!-- Gauges -->
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '513a2d6e613f5d3c6f000186');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    </body>
</html>

