<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8" />
  <!-- Force Latest IE rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>

  <meta name="author" content="Charles Strahan" />
  <link rel="author" href="https://plus.google.com/108911960724427867942">
  {% comment %} <meta name="description" content="{{ site.description }}" /> {% endcomment %}

  <link href="http://feeds.feedburner.com/cstrahan" rel="alternate" title="Charles Strahan" type="application/atom+xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  {% comment %} <link rel="stylesheet" href="/css/syntax/aphyr.css"/> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="/css/syntax/other.css"/> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="/css/syntax/solarized-light.css"/> {% endcomment %}
  <link rel="stylesheet" href="/css/syntax/pastie.css" type="text/css" />
  {% comment %} <link rel="stylesheet" href="/css/syntax/monokai.css"/> {% endcomment %}
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="85" width="85" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/cstrahan" target="_blank"><img src="/images/github.png" /></a>
      <a href="https://twitter.com/charlesstrahan" target="_blank"><img src="/images/twitter.png"></a>
      <a href="http://feeds.feedburner.com/cstrahan"><img src="/images/rss.png" /></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/">posts</a></li>
        <li><a href="/projects.html">projects</a></li>
        <li><hr/></li>
        <li><a href="mailto:charles.c.strahan@gmail.com" target="_blank">email</a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=31009847" target="_blank">linkedin</a></li>
        <li><a href="skype:charles.strahan?add">skype</a></li>
        <li><a href="http://pinboard.in/u:cstrahan" target="_blank">pinboard</a></li>
        <li><a href="talk:chat?jid=charles.c.strahan@gmail.com">google talk</a></li>
        <li><a href="http://flickr.com/photos/cstrahan/" target="_blank">photos</a></li>
      </ul>
    </section>
  </section>

  {{ content }}

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.4.min.js"><\/script>')</script>

  <script>
    window._gaq = [['_setAccount','UA-26948636-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '513a2d6e613f5d3c6f000186');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>

</html>
