<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8" />
  <!-- Force Latest IE rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>{{ page.title }}</title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="author" content="Charles Strahan" />
  <link href="http://feeds.feedburner.com/cstrahan" rel="alternate" title="Charles Strahan" type="application/atom+xml" />

  <link rel="stylesheet" href="/css/skeleton.css"/>
  <link rel="stylesheet" href="/css/base.css"/>
  <link rel="stylesheet" href="/css/layout.css"/>
  <link rel="stylesheet" href="/css/cstrahan.css"/>

  <!--<link rel="stylesheet" href="/css/syntax/solarized.css"/>-->
  <link rel="stylesheet" href="/css/syntax/grb256.css"/>

</head>
<body>
<div class="container">
  <div class="four columns sidebar">
  <section>
    <h1><a href='/'>cstrahan</a></h1>
    <a href='/'><img src="/images/me.jpg"/></a>

    <ul>
      <li><span class="gray">Charles Strahan</span></li>
      <li><a href="mailto:charles.c.strahan@gmail.com">charles.c.strahan@gmail.com</a></li>
    </ul>

    <p>Entrepreneur. Speaker. Coder.</p>

    <ul>
      <li><a href="http://github.com/cstrahan" title="I share and fork code here">Github</a></li>
      <li><a href="http://twitter.com/charlesstrahan" title="You should follow me">Twitter</a></li>
      <li><a href="http://pinboard.in/u:cstrahan" title="I share my links here">Pinboard</a></li>
      <li><a href="talk:chat?jid=charles.c.strahan@gmail.com" title="Feel free to add me">Google Talk</a></li>
      <li><a href="skype:charles.strahan?add" title="Feel free to add me">Skype</a></li>
      <li><a href="http://flickr.com/photos/cstrahan/">Photos</a> </li>
      <li><a href="http://feeds.feedburner.com/cstrahan" title="Follow me">Subscribe</a></li>
    </ul>
  </section>
  </div>

  {{ content }}

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.4.min.js"><\/script>')</script>

  <script>
    window._gaq = [['_setAccount','UA-26948636-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '513a2d6e613f5d3c6f000186');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</div>


</body>
</html>
