---
layout: default
---
<header class='ten columns offset-by-four'>
  <h1>{{ page.title }}</h1>
</header>

<div class='five columns offset-by-four gray'>
  {{ page.date | date_to_string }}
</div>

<div class='five columns' id='tweet'>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="horizontal" data-via="charlesstrahan">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<article class='ten columns offset-by-four'> 
{{ content }}
</article>

{% if page.comments and page.uuid %}

<div class='ten columns offset-by-four'>
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<script type="text/javascript">
    var disqus_shortname = 'cstrahan'; // required: replace example with your forum shortname
    var disqus_identifier = '{{ page.uuid }}';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

{% endif %}

